<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="appname">BatteryMonitor</Property>
		<Property name="outputdir">c:\DaimlerBenz</Property>
		<Property name="logdir">${outputdir}\${appname}\Logs\</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</Console>

		<RollingFile name="RollingFile">
			<FileName>${logdir}${appname}.log</FileName>
			<FilePattern>${logdir}%d{yyyy-MM-dd}.log.zip</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %c{1} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
			    <SizeBasedTriggeringPolicy size="10 MB" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>


	</Appenders>
	<Loggers>
		<Logger name="com.daimler.batterymonitor" level="trace" additivity="false">
			<AppenderRef ref="Console-Appender" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Root>
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>
</Configuration>